.menu-button {
    padding: 0 1.5rem;
    width: 15rem;
    height: 2rem;
    border-radius: 0.4rem;
}

.menu-button-div {
    padding: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: blueviolet;

}

.menu-button:hover{
    background-color: lightseagreen
}